<div class="container-fluid">
  <div class="row">
    <div class="col-12 page-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="page-header-title">Contact Trek Committee</div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>

<div class="container" [hidden]="submitted">
  <div class="row">
    <div class="col-12">
      <p class="page-info">
        These are the contact phone numbers to be used in case of emergency during Trek.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 contact">
      <p>Sister Sheri Daniels <a href="tel:3609369099">360-936-9099</a></p>
      <p>Elder Thomas Daniels <a href="tel:3606069917">360-606-9917</a></p>
    </div>
  </div>
</div>

<div class="container" [hidden]="!submitted">
  <div class="row">
    <div class="col-12">
      <p class="page-info">
        The following message has been sent to the committee.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 contact-display">
      <div class="row mt-3">
        <label class="col-3">Name</label>
        <div class="col-9 pull-left">{{ model.name }}</div>
      </div>
      <div class="row">
        <label class="col-3">Email</label>
        <div class="col-9 pull-left">{{ model.email }}</div>
      </div>
      <div class="row" [hidden]="!model.ward">
        <label class="col-3">Ward</label>
        <div class="col-9 pull-left">{{ model.ward}}</div>
      </div>
      <div class="row">
        <label class="col-3">Message</label>
        <div class="col-9 pull-left">{{ model.message }}</div>
      </div>
      <div class="my-3">
        <a class="btn btn-primary" [routerLink]="['']">Return to Home Page</a>
      </div>
    </div>
  </div>
</div>