@import '../../../styles-variables';
@import '../../../trek-styles';

.hero {
  text-align: center;
  margin-top: -65px;

  .hero-body {
    margin-bottom: 100px;
    background-color: rgb(211,211,211);
    background-color: rgba(211,211,211,0.8);
    padding: 30px;

    .title {
      font-size: 2.5em;
      font-family: $montserrat;
      font-weight: $light-font;
      margin-bottom: 30px;
      color: $secondary-color;
    }

    .subtitle {
      font-size: 1.3em;
      font-family: $montserrat;
      font-weight: $light-font;
    }
  }
}

.container {
  margin-top: $container-top-margin;
  margin-bottom: $container-bottom-margin;  
}

.hero-body {
  margin-top: 100px;
}

@include media-breakpoint-up(md) {
  .container {
    margin-top: $container-top-margin-desktop;
    margin-bottom: $container-bottom-margin-desktop;

    .info {
      margin-bottom: $container-top-margin-desktop;
    }
  }
  
  .hero-body {
    background-color: rgb(211,211,211);
    background-color: rgba(211,211,211,0.8);
    padding: 30px;
    margin-top: 120px;
  }
}
