<div class="container-fluid hero">
  <div class="row">
    <div class="col-12">
      <div class="container hero-body">
        <div class="row">
          <div class="col-12">
            <div class="title">
              <h1>Pioneer Trek 2019</h1>
              <h2>Spokane East Stake</h2>
            </div>
            <div class="subtitle">
              <p>The 2019 Pioneer Trek for the youth of the Spokane East Stake will be held on June 17th - 20th.</p>
              <p>The trek will take place at <a href="https://www.lds.org/locations/treks/bing-canyon">Bing Canyon Pioneer Camp</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container trail-boss">
        <div class="row">
          <div class="col-12 trail-boss-welcome">
            <img src="assets/andersons.jpg" alt="The Andersons">
            <div class="trail-boss-welcome-text">
              <p>We welcome you to the 2019 Youth Trek at Bing Canyon Pioneer Camp. We are excited to trek with you.  We invite all youth 14-18 years of age (including those who will be entering their freshmen year in high school), to join us on June 17th-20th.</p>
              <p>Pioneer Treks provide powerful opportunities to strengthen testimonies, build, unity, do family history, and learn core gospel principles. It is our goal that each of us will increase our love and appreciation for our pioneer ancestors and build our faith and testimony of our Savior and His gospel.</p>
              <p>The theme for Trek <strong>“On the Covenant Path”</strong>, is intended to remind us of the promises we have made and the personal trek each of us walks today.  We will be richly blessed as we make and keep sacred covenants. This experience will provide a self-assessment of how firmly your feet are planted on the covenant path. </p>
              <p>President Gordon B. Hinckley said, “It is good to look to the past to gain appreciation for the present and perspective for the future. It is good to look upon the virtues of those who have gone before, to gain strength for whatever lies ahead. It is good to reflect upon the work of those who labored so hard and gained so little in this world, but out of whose dreams and early plans, so well nurtured, has come a great harvest of which we are the beneficiaries. Their tremendous example can become a compelling motivation for us all, for each of us is a pioneer in his own life, often in his own family, and many of us pioneer daily in trying to establish a gospel foothold in distant parts of the world.’ -President Gordon B. Hinckley, “The Faith of the Pioneers,” Ensign, July 1984, 3</p>
              <p>We look forward to sharing a wonderful experience trekking together.</p>
              <p>Sincerely,<br/>
                  Duane and Natalie Anderson<br/>
                  Spokane East Stake<br/>
                  Trek “Trail Boss”</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
