<div class="container-fluid hero">
  <div class="row">
    <div class="col-12">
      <div class="container hero-body">
        <div class="row">
          <div class="col-12">
            <div class="title">
              <h1>Pioneer Trek 2019</h1>
              <h2>Spokane East Stake</h2>
            </div>
            <div class="subtitle">
              <p>The 2019 Pioneer Trek for the youth of the Spokane East Stake will be held on June 17th - 20th.</p>
              <p>The trek will take place at <a href="https://www.lds.org/locations/treks/bing-canyon">Bing Canyon Pioneer Camp</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
