@import '../../../styles-variables';
@import '../../../trek-styles';

.hero {
  text-align: center;
  margin-top: -65px;

  .hero-body {
    // margin-bottom: 100px;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.7);
    padding: 30px;

    .title {
      font-family: $montserrat;
      font-weight: $light-font;
      color: $secondary-color;

      h1 {
        font-weight: 600;
      }

      h2 {
        font-size: 1.5em;
        margin-bottom: 30px;
      }
    }

    .subtitle {
      font-size: 1.3em;
      font-family: $montserrat;
      font-weight: $normal-font;
    }
  }
}

.container {
  margin-top: $container-top-margin;
  margin-bottom: 0;

  &.trail-boss {
    margin-top: 30px;

    .trail-boss-welcome {
      text-align: left;
      margin-bottom: 100px;
      background-color: rgb(255,255,255);
      background-color: rgba(255,255,255,0.7);
      padding: 30px;

      img {
        width: 435px;
        float: left;
        margin: 0 40px 20px 0;
      }
    }
  }
}

.hero-body {
  margin-top: 100px;
}

@include media-breakpoint-up(md) {
  .container {
    margin-top: $container-top-margin-desktop;
    margin-bottom: 0;

    .info {
      margin-bottom: $container-top-margin-desktop;
    }
  }
  
  .hero-body {
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.7);
    padding: 30px;
    margin-top: 120px;
  }
}
