<div class="container-fluid hero">
  <div class="row">
    <div class="col-12">
      <div class="container hero-body">
        <div class="row">
          <div class="col-12">
            <h3 class="title">Trek 2019 - Spokane East Stake</h3>
            <p class="subtitle">
              Trek allows users to choose which shortcuts appear on their desktop. You can
              select your favorite applications below and a shortcut to that application will be
              added to your desktop. If you have any questions on how to use this application please
              contact the
              <a href="mailto:helpdesk@kh.org?subject=Help%20with%20Sentinel">Help Desk</a> or call
              <a href="tel:2086255555">208-625-5555</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
