<div class="container-fluid">
  <div class="row">
    <div class="col-12 page-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="page-header-title">Pioneer Clothing</div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="page-info">
          Dressing in pioneer clothing can have a tremendous impact on the spirit of the trek.
          It also can provide protection. The following is a short description of how pioneers dressed 
          and what is appropriate for youth and adults to wear for the trek.  You may get hot, sweaty 
          and dirty on this Trek, so light-colored, breathable, cotton or linen fabrics will work best.
          Man-made fibers (polyester, rayon and fleece) are not as comfortable to wear. We may also 
          experience rain or chilly nights so in addition to the pioneer clothing check the packing 
          list for other clothing items to bring. Pioneers had to be resourceful and most had very little 
          money; we have lots of ideas to help you get the proper clothing spending little or no money.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <h2>Men and Boys clothing</h2>
        <p><strong>Shirts:</strong> Loose fit suggested. Plain colors were common, but stripes or plaids were also used.  Light weight fabrics and light colors will be cooler.  Choose something larger than a regular fit, with long sleeves.  Button up church type shirts are great, when possible you can cut the collar off above the band to look more authentic, however that is not a requirement. Banded collar button up shirts will also work.</p>
        <p><strong>Pants:</strong> Loose fit suggested.  Corduroy, khakis, docker type pants or even old suit pants are good choices (avoid polyester).    Authentic colors choices include blue, black, gray, browns, especially beige and tan, but these colors are not required.  Choose rather loose fitting through the crotch and thigh area to add comfort while walking.</p>
        <p><strong>Suspenders (optional):</strong> Men’s pants were held up by suspenders that were buttoned on the outside of the waistband, and crossed in the back. Any suspenders would work. Rope belts were common.</p>
        <p><strong>Vest/tie (optional):</strong> Usually vests/ties were worn only on Sunday or when attending a meeting or social event.  Ties were small, black and silky.  Wrapped around the neck one and tied in the front with a square knot.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
        <h2>Women and Girls clothing</h2>
        <p><strong>Tops:</strong> A cotton button up blouse would be ideal.  Authentic blouses had sleeves that were full, long, with buttons or bands at the wrist.  Necklines were usually high, with buttons up the front.  Fabrics were cotton in solid colors or with small print.  Bright colors were also popular.</p>
        <p><strong>Skirts:</strong> However pioneer trekkers have found that dresses and skirts should at longest be ankle length and best if mid-calf or above top of a hiking boot in length (so the girls do not trip over their skirts while pulling).  Skirts can be with or without ruffles, plain or with prints.</p>
        <p><strong>A pioneer style dress (2) would also work instead of top and skirt that had long sleeves and long skirt.</strong></p>
        <p><strong>Bonnet:</strong> Cotton is best. Pioneer women wore them anytime they were out in the sun. Bonnets can be white, solid color, or with a print, fancy or plain.</p>
        <p><strong>Bloomers or knee length shorts *REQUIRED:</strong> The authentic look would be bloomers with or without ruffles or lace. Knee length shorts that are comfortable to walk in are the non authentic choice. We will be crossing a river and for modesty all girls will need to wear one or the other under their skirt. Keep cotton in mind for a cool choice. Scrubs are a great choice just as cut offs or add some ruffles for the authentic look.</p>
        <p><strong>Apron (optional):</strong> The standard apron was six to twelve inches shorter than the skirt length.  It gathered at the waist and tied.   Daytime aprons were made of calico remnants.  Sunday aprons were made from white fabric and did not have a bib.  For trekking today, large deep pockets are helpful to be able to carry different items along the trial. (Can be made from a pillowcase)</p>
    </div>
    <div class="col-12">
      <p><a href="/assets/How-to-make-a-skirt.pdf" target="_blank">How to make a skirt</a></p>
      <p><a href="/assets/How-to-make-a-bonnet.pdf" target="_blank">How to make a bonnet</a></p>
    </div>
  </div>
</div>