<div class="container-fluid">
  <div class="row">
    <div class="col-12 page-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="page-header-title">Registration</div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="page-info">
          Thank you for registering for the 2019 Trek of the Spokane East Stake.
          All youth and adults going on the trek must register using this online form.
          The deadline for registration is February 28th, 2019.
          In addition to the online registration all youth must complete permission and medical release form used by the church.
          An interactive version of this form can be accessed here, <a href="/assets/permision_interactive.pdf" target="_blank">Permission and Medical Release Form.</a>
          Please complete this form and give it to your ward's Young Men or Young Women President.
      </p>
    </div>
  </div>
  <div *ngIf="!submitted; else forminfo">
    <form [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)"> 

      <div class="row">
        <div class="col-md-3">
          <div class="form-group" [class.form-error]="isAdult.invalid && (isAdult.dirty || submitFailed)">
            <label for="isAdult" class="btn-group-label">Type</label>
            <label [class.error-message]="isAdult.errors?.required" class="required">required</label>
            <div>
              <trek-btn-group id="isAdult" name="isAdult" [options]="registrationTypes" formControlName="isAdult"></trek-btn-group>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row" [class.form-error]="ward.invalid && (ward.dirty || submitFailed)">
        <div class="col-md-4">
          <label for="ward">Ward</label>
          <label [class.error-message]="ward.errors?.required" class="required">required</label>
          <select id="ward" formControlName="ward" class="form-control">
            <option [ngValue]="null">Select your ward...</option>
            <option *ngFor="let c of wards" [ngValue]="c">{{ c }}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 form-row">
          <div class="col-md-6 form-group" [class.form-error]="nameFirst.invalid && (nameFirst.dirty || submitFailed)">
            <label for="nameFirst">First Name</label>
            <label [class.error-message]="nameFirst.errors?.required" class="required">required</label>
            <input type="text" id="nameFirst" formControlName="nameFirst" class="form-control">
          </div>

          <div class="col-md-6 form-group" [class.form-error]="nameLast.invalid && (nameLast.dirty || submitFailed)">
            <label for="nameLast">Last Name</label>
            <label [class.error-message]="nameLast.errors?.required" class="required">required</label>
            <input type="text" id="nameLast" formControlName="nameLast" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group" [class.form-error]="gender.invalid && (gender.dirty || submitFailed)">
            <label for="gender" class="btn-group-label">Gender</label>
            <label [class.error-message]="gender.errors?.required" class="required">required</label>
            <div>
              <trek-btn-group id="gender" name="gender" [options]="genderTypes" formControlName="gender"></trek-btn-group>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="btn-group-label">Allergies</label>
            <div class="trek-form-check">
              <input id="peanutAllergy" type="checkbox" name="peanutAllergy" formControlName="peanutAllergy" value="1" class="form-check-input">                    
              <label for="peanutAllergy" class="form-check-label" [class.selected]="peanutAllergy.value">
                <i class="fa fa-square-o unchecked-icon"></i>
                <i class="fa fa-check-square-o checked-icon"></i> Peanut Allergy</label>
            </div>
    
            <div class="trek-form-check mt-2">
              <input id="glutenAllergy" type="checkbox" name="glutenAllergy" formControlName="glutenAllergy" value="1" class="form-check-input">
              <label for="glutenAllergy" class="form-check-label" [class.selected]="glutenAllergy.value">
                <i class="fa fa-square-o unchecked-icon"></i>
                <i class="fa fa-check-square-o checked-icon"></i> Gluten Allergy</label>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!thisIsAnAdult" class="form-group row" [class.form-error]="dob.invalid && (dob.dirty || submitFailed)">
        <div class="col-md-6">
          <label for="dob">Date of birth</label>
          <label [class.error-message]="dob.errors?.required" class="required">required</label>
          <input type="text" id="dob" formControlName="dob" class="form-control" [textMask]="{mask: dateMask}" />
          <span *ngIf="dob.errors?.invalidDate && !dob.errors?.required" class="error-message">Invalid Date, please use 2 digit month and day (mm/dd/yyyy)</span>
        </div>
      </div>

      <div *ngIf="!thisIsAnAdult" class="form-group row" [class.form-error]="parentName.invalid && (parentName.dirty || submitFailed)">
        <div class="col-md-6">
          <label class="form-label">Parent Name</label>
          <label [class.error-message]="parentName.errors?.required" class="required">required</label>
          <input type="text" formControlName="parentName" class="form-control">
        </div>
      </div>

      <div class="form-group row" [class.form-error]="parentEmail.invalid && (parentEmail.dirty || submitFailed)">
        <div class="col-md-6">
          <label *ngIf="!thisIsAnAdult" class="form-label">Parent Email</label>
          <label *ngIf="thisIsAnAdult" class="form-label">Email</label>
          <input type="text" formControlName="parentEmail" class="form-control">
          <span *ngIf="parentEmail.errors?.email" class="error-message">Invalid email</span>
        </div>
      </div>

      <div class="form-group row" [class.form-error]="parentPhone.invalid && (parentPhone.dirty || submitFailed)">
        <div class="col-md-6">
          <label *ngIf="!thisIsAnAdult" class="form-label">Parent Phone</label>
          <label *ngIf="thisIsAnAdult" class="form-label">Phone</label>
          <label *ngIf="!thisIsAnAdult" [class.error-message]="parentPhone.errors?.required" class="required">required</label>
          <input type="text" formControlName="parentPhone" class="form-control" [textMask]="{mask: phoneMask}">
          <span *ngIf="parentPhone.errors?.invalidNumber && !parentPhone.errors?.required" class="error-message">Invalid Phone Number</span>
        </div>
      </div>

      <div *ngIf="thisIsAnAdult" class="form-group row" [class.form-error]="emergencyContactName.invalid && (emergencyContactName.dirty || submitFailed)">
        <div class="col-md-6">
          <label class="form-label">Emergency Contact Name</label>
          <label [class.error-message]="emergencyContactName.errors?.required" class="required">required</label>
          <input type="text" formControlName="emergencyContactName" class="form-control">
        </div>
      </div>

      <div *ngIf="thisIsAnAdult" class="form-group row" [class.form-error]="emergencyContactPhone.invalid && (emergencyContactPhone.dirty || submitFailed)">
        <div class="col-md-6">
          <label class="form-label">Emergency Contact Phone</label>
          <label [class.error-message]="emergencyContactPhone.errors?.required" class="required">required</label>
          <input type="text" formControlName="emergencyContactPhone" class="form-control" [textMask]="{mask: phoneMask}">
          <span *ngIf="emergencyContactPhone.errors?.invalidNumber && !emergencyContactPhone.errors?.required" class="error-message">Invalid Phone Number</span>
        </div>
      </div>

      <div class="my-3">
          <button type="submit" class="btn btn-success" [hidden]="submiting">Submit</button>
          <button type="button" class="btn btn-success sending-btn" [hidden]="!submiting" disabled><img class="sending-icon" src="assets\ripple.svg"> Registering...</button>
          <button type="reset" class="btn btn-primary ml-3" [disabled]="submiting" (click)="reset()">Reset</button>
        </div>
      
    </form>
  </div>

  <ng-template #forminfo>
    <div class="row display-saved-attendee">
      <div class="col-12">
        <h1>Registration Complete</h1>
      </div>
      <div class="col-12 attendee-message">{{ savedAttendee.firstName }} {{ savedAttendee.lastName }}
        from the {{ savedAttendee.ward }} Ward has been registered for Trek 2019. Please review the following
        information and if you see any errors please contact the Trek Committee using the
        <a [routerLink]="['/contact']">Contact Page</a>.
      </div>
      
      <div class="col-md-4 mt-5 attendee-data-label">Name</div>
      <div class="col-md-8 mt-1 mt-md-5 attendee-data-value">{{ savedAttendee.firstName }} {{ savedAttendee.lastName }}</div>
      
      <div class="col-md-4 mt-3 attendee-data-label">Ward</div>
      <div class="col-md-8 mt-1 mt-md-3 attendee-data-value">{{ savedAttendee.ward }}</div>
      
      <div class="col-md-4 mt-3 attendee-data-label">Gender</div>
      <div class="col-md-8 mt-1 mt-md-3 attendee-data-value">
        <span *ngIf="savedAttendee.gender === 'male'">Male</span>
        <span *ngIf="savedAttendee.gender === 'female'">Female</span>
      </div>
      
      <div class="col-md-4 mt-3 attendee-data-label">Peanut Allergy</div>
      <div class="col-md-8 mt-1 mt-md-3 attendee-data-value">
        <span *ngIf="savedAttendee.peanutAllergy">Yes</span>
        <span *ngIf="!savedAttendee.peanutAllergy">No</span>
      </div>
      
      <div class="col-md-4 mt-3 attendee-data-label">Gluten Allergy</div>
      <div class="col-md-8 mt-1 mt-md-3 attendee-data-value">
        <span *ngIf="savedAttendee.glutenAllergy">Yes</span>
        <span *ngIf="!savedAttendee.glutenAllergy">No</span>
      </div>
      
      <div *ngIf="!savedAttendee.isAdult" class="col-md-4 mt-3 attendee-data-label">Date of birth</div>
      <div class="col-md-8 mt-1 mt-md-3 attendee-data-value">{{ savedAttendee.dateOfBirth | date }}</div>
      
      <div *ngIf="!savedAttendee.isAdult" class="col-md-4 mt-3 attendee-data-label">Parent Name</div>
      <div class="col-md-8 mt-1 mt-md-3 attendee-data-value">{{ savedAttendee.parentName }}</div>
      
      <div *ngIf="!savedAttendee.isAdult" class="col-md-4 mt-3 attendee-data-label">Parent Email</div>
      <div *ngIf="savedAttendee.isAdult" class="col-md-4 mt-3 attendee-data-label">Email</div>
      <div class="col-md-8 mt-1 mt-md-3 attendee-data-value">{{ savedAttendee.parentEmail }}</div>
      
      <div *ngIf="!savedAttendee.isAdult" class="col-md-4 mt-3 attendee-data-label">Parent Phone</div>
      <div *ngIf="savedAttendee.isAdult" class="col-md-4 mt-3 attendee-data-label">Phone</div>
      <div class="col-md-8 mt-1 mt-md-3 attendee-data-value">{{ savedAttendee.parentPhone }}</div>
      
      <div *ngIf="savedAttendee.isAdult" class="col-md-4 mt-3 attendee-data-label">Emergency Contact</div>
      <div *ngIf="savedAttendee.isAdult" class="col-md-8 mt-1 mt-md-3 attendee-data-value">{{ savedAttendee.emergencyName }}</div>
      
      <div *ngIf="savedAttendee.isAdult" class="col-md-4 mt-3 attendee-data-label">Emergency Contact Phone</div>
      <div *ngIf="savedAttendee.isAdult" class="col-md-8 mt-1 mt-md-3 attendee-data-value">{{ savedAttendee.emergencyPhone }}</div>

      <div class="col-12 mt-5">
        <button type="reset" class="btn btn-primary" (click)="reset()">Register Another Person</button>
        <a class="btn btn-secondary mt-3 mt-md-0 ml-md-5" [routerLink]="['']">Return to Home Page</a>
      </div>
    </div>
  </ng-template>
</div>